/** Stylesheet for therapywithdiana.com **/ 
/** Written by Drew King, provided under MIT License. **/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** Typeface s**/

@font-face {
    font-family: 'julius_sans_oneregular';
    src: url('../fonts/juliussansone-regular-webfont.woff2') format('woff2'),
         url('../fonts/juliussansone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/** sets the size of the body **/
body{
    margin: 0 auto;
    font-family: sans-serif;
}

.inner{
    text-align: center;
    clear: both;
    display: block;
    float: none;
}

#wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1040px;
    background: rgba(255,255,255, .93);
    margin-bottom: 20px;
    font-family: open_sansregular, sans-serif;
}

/** Gives behavior for the header **/

header{
    width: 100%;
    max-width: 1100px;
}


header #primary ul{
    display: block;
}

header #primary ul li{
    font-family: open_sansregular, sans-serif;
    font-size: 1em;
    text-align: center;
    float: left;
    list-style-type: none;
    line-height: 2.25em;
    margin-bottom: 1em;
    width: 25%;
}

header #primary ul li a{
    display: block;
    text-decoration: none;
    color: #000;
}

header #primary ul li a:hover{
    color: #999;
}

.home #primary li:nth-child(1) a,
.about #primary li:nth-child(2) a,
.contact #primary li:nth-child(3) a,
.schedule #primary li:nth-child(4) a{
    color:#999;
}

/** Text formatting **/

h1{
    font-size: 2em;
}

h1, h2{
    font-family: julius_sans_oneregular, sans-serif;
    font-weight: 100;
    padding: .35em;
    margin: .35em;
    border-bottom: 1px solid black;
    text-align: center;
}

h2{
    font-size: 1.5em;
    display: block;
}

h3, h2.no-underline{
    font-family: open_sansregular, sans-serif;
    border-bottom: none;
    margin-bottom: 10px;
    font-size: 1.25em;
    font-weight: 600;
    text-align: center;
}

p.pricing-text {
    font-family: julius_sans_oneregular, sans-serif;
    font-weight: 2000;
    font-size: 1.5em;
    margin: 0.2em;
    text-align: center;
    padding-bottom: 20px;
}

#pricing h3{
    font-family: julius_sans_oneregular, sans-serif;
    font-weight: 100;
    font-size: 1.5em;
    padding: .35em;
    margin: .35em;
    border-bottom: 1px solid black;
    text-align: center;
}

p{
    font-size: 1em;
    margin-bottom: 10px;
    line-height: 1.35em;
    padding: 10px;
}

ul{
    font-family: open_sansregular, sans-serif;
    font-size: 1em;
    list-style-type:none;
    padding: 10px;
}

ul li{
    text-align: center;
}

/** Boxes insdie of the body, below the header **/

main{
    margin: 40px;
    display: block;
    clear:both;
}

.contact main{
    margin: 0;
    clear:left;
    float: left;
    width: 55%;
    overflow: visible;

}

#button-bg{
    height: 400px;
    background-image: url(../images/schedule.jpg);
    background-attachment: fixed;
    background-position: center;
}

.home aside{
    width: 90%;
    float: none;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 20px;
    margin: 40px;
}

aside{
    width: 40%;
    margin: 0;
    padding: 0;
    border-radius: 0;
    display: block;
    clear: none;
    border: none;
    overflow: hidden;
}

.home main{
    overflow: hidden;
}

.home main img{
    float: left;
    width: 40%;
    padding: 0;
    margin: 20px 40px 40px 0;
}

img {
    border-radius: 1em;
}


.left-text{
    width: 60%;
    float: right;
}

.right-text{
    width: 60%;
    float: left;
}

.pricing{
    width: 100%;
    float: right;
    clear: both;
}

.row{
    display: block;
    overflow: hidden;
    float: left;
    margin-bottom: 20px;
}

.contactme{
    float: left;
    display: block;
    overflow: hidden;
    width: 100%;
}

.col3{
    width: 33.3%;
    float: left;
    overflow: hidden;
    display: block;
}

.billing p {
    margin-bottom: 0em;
}

.billing ul {
    padding-top: 0em;
}

#headline{
    float: left;
    text-align: center;
    padding: 20px;
    width:61.7%;
    overflow: hidden;
}

.right{
    float: right;
    width:33%;
}

.left{
    float: left;
    width: 33%;
}

footer #secondary{
    display: block;
    clear: both;
    text-align: center;
}

footer #secondary ul li{
    color: #666;
    font-size: .75em;
    float: left;
    line-height: 4.17em;
    list-style-type: none;
    width: 25%;
    background: #fff;
    margin-bottom: 20px;
}

footer #secondary ul li a{
    text-decoration: none;
    color: #666;
}

/** Styles for the web forms **/

fieldset{
    margin-top: 2.5em;
    padding: 2.5%;
    border: none;
}


input{
    font-size: 1.1em;
    float: left;
    width: 50%;
    margin-bottom: 10px;
    display: block;
}

label{
    font-family: open_sanslight, sans-serif;
    font-size: 1.2em;
    padding: .5em;
}

input[type=text] {
    height: 2.5em;
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

input[type=text]:hover{
    box-shadow:0 0 15px 4px rgba(0,230,250,0.16);
}

input[type=email] {
    height: 2.5em;
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

input[type=email]:hover{
    box-shadow:0 0 15px 4px rgba(0,230,250,0.16);
}

input[type=submit]{
    appearance:none;
  -webkit-appearance:none;
    color: #fff;
    background: #000;
    font-size: 1em;
    width: 100%;
    float: none;
    margin: 0 auto;
    height: 2.5em;
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

input[type=submit]:hover{
    color: #ddd;
    background: #666;
}

textarea{
    font-family: open_sansregular, sans-serif;
    margin: 10px 0;
    width: 100%;
    max-width: 540px;
    height: 22em;
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    resize: vertical;
}

textarea:hover{
    box-shadow:0 0 15px 4px rgba(0,230,250,0.16);
}

/** Color Scheme and Dark Mode **/

@media screen and (prefers-color-scheme: dark) {
    body, main, header, footer, #wrapper{
        background-color: black;
    }

    p, h1, h2, h3, h4, li, a {
        color: #fff;
    }

    a img{
        -webkit-filter:invert(100%);
        filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
    }

    header #primary ul li a{
        display: block;
        text-decoration: none;
        color: #fff;
    }

    header #primary ul li a:hover{
        color: #bbb;
    }

    .home #primary li:nth-child(1) a,
    .about #primary li:nth-child(2) a,
    .contact #primary li:nth-child(3) a,
    .schedule #primary li:nth-child(4) a{
        color:#bbb;
    }

    footer #secondary ul li{
        color: #fff;
        font-size: .75em;
        float: left;
        line-height: 4.17em;
        list-style-type: none;
        width: 25%;
        background: #000;
        margin-bottom: 20px;
    }

    footer #secondary ul li a{
        text-decoration: none;
        color: #fff;
    }
}

/** Dynamic Sizing for Responsive Web Design **/

@media screen and (max-width:1002px){
    .home main img{
        width: 40%;
        padding: 0 40px 0 0;
        padding: 0;
        margin: 16px 20px 50px;
    }
    
    textarea{
        height: 20.25em;
    }
    
    body{
        margin:0 auto;
    }
}

@media screen and (max-width:950px){
    .home main img{
        width: 45%;
        padding: 0;
        margin: 20px 40px;
    }
    
    .home aside{
        margin: 0 auto;
    }
    
    textarea{
        height: 15em;
    }
    
    header #primary ul li{
        font-family: open_sanslight, sans-serif;
    }
    
    #headline{
        width: 60%;
        padding-bottom: 93px;
    }

    .about .right{
        float: right;
        width: 40%;
        padding: 0 20px;
    }

    .about .left{
        float: left;
        width: 40%;
        padding: 0 20px;
    }

    .about h3{
        clear: none;
    }

    .about .text{
        float: right;
    }
    
    main{
        margin: 0;
    }
    
    main p{
        margin: 20px;
    }
    
    input{
    float: left;
    width: 100%;
    margin-bottom: 10px;
    display: block;
    }
}

@media screen and (max-width: 900px){
    #headline{
        width: 60%;
        padding: 0;
    }
}

@media screen and (max-width: 737px) {
    #headline{
        width: 100%;
    }

    #headline-img{
        width: 0;
    }

    .row .col3{
        width: 100%;
        float: none;
    }
}

@media screen and (max-width:650px){
    .home main img{
        width: 92%;
        padding: 0;
        margin: 0 20px 0;
        float: none;
        clear: both;
    }

    aside{
        width: 0;
        display: none;
    }
    
    .home aside{
        width: 100%;
        display: block;
    }

    #headline-img{
        width: 92%;
        padding: 0;
        margin: 20px;
        float: none;
        clear: both;
    }

    .about .right{
        width: 92%;
        padding: 0;
        margin: 20px;
        float: none;
        clear: both;
    }

    .about .left{
        width: 92%;
        padding: 0;
        margin: 20px;
        float: none;
        clear: both;
    }

    .about h3{
        clear: none;
    }

    .about .left-text{
        float: none;
        width: 100%;
    }

    .about .right-text{
        float: none;
        width: 100%;
    }
    
    main{
        width: 100%;
    }
    
    #headline{
        max-width: 650px;
        width: 100%;
        float: none;
        padding-bottom: 0;
    }
    
    .text{
        float:none;
        width: 100%;
    }
    
    footer #secondary ul li{
    font-size: .67em;
    line-height: 1.5em;
    margin-bottom: 50px;
    }
}

@media screen and (max-width: 400px) {
    img{
        margin: 0;
        padding: 0;
        width: 100%;
        border-radius: 0;
    }

    .home main img{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #headline-img{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .about .right{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .about .left {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

/** Styles for scheduling widget **/
.spwidget-button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24em;
    text-align: center;
    float: none;
}
.spwidget-button{
    font-family: open_sansregular, sans-serif;
    display: inline-block;
    width: 15em;
    padding: 12px 24px;
    color: #fff !important;
    background: #666;
    border: 0;
    border-radius: 4px;
    font-size: 1.15em;
    font-weight: 600;
    text-decoration: none;
}
.spwidget-button:hover{
    background: #ddd;
}
.spwidget-button:active{
    color: rgba(255, 255, 255, .75) !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .15) inset;
}
